certifi==2017.11.5
chardet==3.0.4
click==6.7
Flask==0.12.2
future==0.16.0
geopy==1.11.0
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.11.3
line-bot-sdk==1.7.2
MarkupSafe==1.0
mongoengine==0.15.0
prompt-toolkit==1.0.15
pymongo==3.6.0
python-dotenv==0.7.1
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
wit==5.0.0
